body{
    background-color: #0E0B9B;
}

.background{
    position: absolute;
    height: 815px;
    width: 1360px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.title {
    height: 340px;
    width: 340px;
    font: Metrophobic;
    font-size: 64px;
    color:ivory;
    position: absolute;
    right: 390px;
    top: 25px;
}

.marker {
    height: 60px;
    width: 60px;
    font: Metrophobic;
    font-size: 24px;
    background-color:ivory;
    position: absolute;
    z-index: 10;
}

#yosemite{
    opacity: 0%;
    right: 690px;
    top: 350px;
}


#berkeley{
    opacity: 0%;
    right: 865px;
    top: 340px;
}

#sb{
    opacity: 0%;
    right: 740px;
    top: 550px;
}

#la{
    opacity: 0%;
    right: 650px;
    top: 570px;
}

#sd{
    opacity: 0%;
    right: 497px;
    top: 725px;
}

.triangle {
    position: absolute;
    z-index: 0;
}

#yosemiteswm{
    right: 560px;
    top: 220px;
}

#berkeleyswm{
    right: 740px;
    top: 210px;
}

#bakoswm{
    right: 561px;
    top: 372px;
}

#sbswm{
    right: 614px;
    top: 420px;
}

#laswm{
    right: 521px;
    top: 450px;
}

#sdswm{
    right: 337px;
    top: 510px;
}

.swbackground{
    position: absolute;
    width: 210px;
    height: 150px;
    background-color: #931212;
    z-index: 0;
}

#yosemitebackground{
    right: 606px;
    top: 200px;
}

#berkeleybackground{
    right: 786px;
    top: 190px;
}

#sbbackground{
    right: 660px;
    top: 400px;
}

#labackground{
    right: 567px;
    top: 430px;
}

#sdbackground{
    right: 410px;
    top: 577px;
}

.active{
    opacity: 100%;
}

.inactive{
    opacity: 0%;
}

.place{
    height: 10px;
    width: 200px;
    font: Metrophobic;
    font-size: 24px;
    color: black;
    position: absolute;
    z-index: 0;
}

#yosemitename{
    right: 560px;
    top: 395px;
}

#yosemiteclick{
    font-size: 18px;
    color: ivory;
    right: 606px;
    top: 200px;
}

#berkeleyname{
    right: 690px;
    top: 385px;
}

#berkeleyclick{
    font-size: 18px;
    color: ivory;
    right: 786px;
    top: 190px;
}

#sbname{
    width: 100px;
    right: 680px;
    top: 595px;
}

#sbclick{
    font-size: 18px;
    color: ivory;
    right: 660px;
    top: 400px;
}

#laname{
    right: 500px;
    top: 625px;
}

#laclick{
    font-size: 18px;
    color: ivory;
    right: 567px;
    top: 430px;
}

#sdname {
    width: 150px;
    color: ivory;
    right: 400px;
    top: 790px;
}

#sdclick{
    font-size: 18px;
    color: ivory;
    right: 410px;
    top: 577px;
}

.leftarrow {
    position: absolute;
    z-index: 11;
}

.rightarrow {
    position: absolute;
    z-index: 11;
}

#yosemitel {
    right: 775px;
    top: 230px;
}

#yosemiter {
    right: 606px;
    top: 220px;
}

#berkeleyr {
    right: 786px;
    top: 210px;
}

#berkeleyl {
    right: 956px;
    top: 220px;
}

#sbr {
    right: 655px;
    top: 407px;
}

#sbl {
    right: 835px;
    top: 420px;
}

#lar {
    right: 560px;
    top: 435px;
}

#lal {
    right: 747px;
    top: 448px;
}

#sdr {
    right: 410px;
    top: 590px;
}

#sdl {
    right: 580px;
    top: 600px;
}

.yosemiteimg{
    width: 158px;
    height: 113px;
    position: absolute;
    right: 631px;
    top: 225px;
    z-index: 9;
}

.berkeleyimg{
    width: 158px;
    height: 113px;
    position: absolute;
    right: 812px;
    top: 220px;
    z-index: 10;
}

.sbimg{
    width: 158px;
    height: 113px;
    position: absolute;
    right: 685px;
    top: 420px;
    z-index: 10;
}

.laimg{
    width: 158px;
    height: 113px;
    position: absolute;
    right: 591px;
    top: 453px;
    z-index: 10;
}

.sdimg{
    width: 158px;
    height: 113px;
    position: absolute;
    right: 435px;
    top: 600px;
    z-index: 10;
}
